/* variable less */

@or:#c2a05c;
@noir:#414143;
@blanc:white;

@largeur-goutiere:10%;
@hauteur-goutiere:3%;

/* ----- */

	body
	{
	 text-align:center;
	 margin-top:@hauteur-goutiere;
	 margin-left:2*@largeur-goutiere;
	 margin-right:2*@largeur-goutiere;
	 font-size:1.5em;
	 background-color:@noir;
	 color:@or;
	}

	nav
	{
		margin-top:@hauteur-goutiere;
		margin-bottom:@hauteur-goutiere;
	}
	
	#accueil, #stage, #bal
	{
		margin:@hauteur-goutiere;
	}

	a
	{
		color:@blanc;
		text-decoration:none;
	}

	hr
	{
		color:@or;
	}
	
	section
	{
		margin:@hauteur-goutiere;
	}
	
	img
	{
		width:50%;
	}

	footer
	{
		font-size:0.8em;
		font-style:italic;
	}
