/* variable less */
/* ----- */
body {
  text-align: center;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  font-size: 1.5em;
  background-color: #c2a05e;
}
footer {
  font-size: 0.8em;
  font-style: italic;
}
nav {
  margin-top: 3%;
  margin-bottom: 3%;
}
#accueil {
  margin: 2%;
}
#stage {
  margin: 2%;
}
#histoire {
  margin: 2%;
}
section {
  margin: 2%;
}
img {
  width: 50%;
}
